<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div class="container vh-75 d-flex justify-content-center align-items-center">
        <div class="card bg-dark text-white mt-5">
            <div class="card-header">
                <h3 class="text-center">Contact me</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control my-3" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" class="form-control my-3" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer')%>
</body>
</html>